<div class="build-card text-left">
  <div class="row">
    <div class="col-3">
      <small>Project name</small>
    </div>
    <div class="col-3">
      <small>Last commit</small>
    </div>
    <div class="col-2">
      <small>Triggerer</small>
    </div>
    <div class="col-2">
      <small>Status</small>
    </div>
    <div class="col-2">
      <small>Time</small>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <small id="repo-name"></small>
    </div>
    <div class="col-3">
      <div class="row">
        <div class="col-12">
          {% octicon git-branch height:16 class:"left" fill: "#606c71" %}
          <small id="last-commit" class="d-inline"></small>
        </div>
        <div class="col-12">
          {% octicon git-commit height:16 class:"left" fill: "#606c71" %}
          <small><a id="commit-hash" class="d-inline"></a></small>
        </div>
      </div>

    </div>
    <div class="col-2">
      <small id="triggerer"></small>
    </div>
    <div class="col-2">
      <span id="status" class="badge"></span>
    </div>
    <div class="col-2">
      {% octicon stopwatch height:16 class:"left" fill: "#606c71" %}
      <small id="time"></small>
    </div>
  </div>
</div>
