<div class="build-card text-center">
  <div class="row">
    <!-- <p id="repo-name"></p>
    <p id="branch"></p>
    <p id="commit-hash"></p>
    <p id="conclusion"></p> -->
    <div class="col-3">
      <small>Status</small>
    </div>
    <div class="col-3">
      <small>Triggerer</small>
    </div>
    <div class="col-2">
      <small>Commit</small>
    </div>
    <div class="col-2">
      <small>Jobs</small>
    </div>
    <div class="col-2">
      <small>Time</small>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <small id="status"></small>
    </div>
    <div class="col-3">
      <small id="triggerer"></small>
    </div>
    <div class="col-2">
      <small id="commit-hash"></small>
    </div>
    <div class="col-2">
      <small></small>
    </div>
    <div class="col-2">
      <small></small>
    </div>
  </div>
</div>
