<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Project name</th>
      <th scope="col">Last commit</th>
      <th scope="col" class="text-center">Triggerer</th>
      <th scope="col" class="text-center">Status</th>
      <th scope="col">Time</th>
    </tr>
  </thead>
  <tbody>
    <!-- CSFG DATA -->
    <tr id="csfg-row">
      <td>
        <small id="csfg-repo-name"></small>
      </td>
      <td>
        <div class="row">
          <div class="col-12">
            <img class="octicon" src="assets/img/git-branch-16.svg">
            <small id="csfg-last-commit" class="code-font d-inline"></small>
          </div>
          <div class="col-12">
            <img class="octicon" src="assets/img/git-commit-16.svg">
            <small><a id="csfg-commit-hash" class="code-font d-inline"></a></small>
          </div>
        </div>
      </td>
      <td>
        <small id="csfg-triggerer"></small>
      </td>
      <td class="text-center">
        <small id="csfg-status" class="badge"></small>
      </td>
      <td>
        <img class="octicon" src="assets/img/stopwatch-16.svg">
        <small id="csfg-time"></small>
      </td>
    </tr>

    <!-- DTHM DATA -->
    <tr id="dthm-row">
      <td>
        <small id="dthm-repo-name"></small>
      </td>
      <td>
        <div class="row">
          <div class="col-12">
            <img class="octicon" src="assets/img/git-branch-16.svg">
            <small id="dthm-last-commit" class="code-font d-inline"></small>
          </div>
          <div class="col-12">
            <img class="octicon" src="assets/img/git-commit-16.svg">
            <small><a id="dthm-commit-hash" class="code-font d-inline"></a></small>
          </div>
        </div>
      </td>
      <td>
        <small id="dthm-triggerer"></small>
      </td>
      <td class="text-center">
        <small id="dthm-status" class="badge"></small>
      </td>
      <td>
        <img class="octicon" src="assets/img/stopwatch-16.svg">
        <small id="dthm-time"></small>
      </td>
    </tr>
  </tbody>
</table>