---
---

@import "{{ site.theme }}";
@import 'bootstrap/bootstrap';

// ------------ default.html ------------
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 350;
  line-height: 1.6;
  color: #606c71;
  @media (min-width: 38em) {
    font-size: 18px;
  }
}

.page-header {
  background-color: #cc0011;
  background-image: none;
  @media screen and (min-width: 64em) {
    padding: 2rem 4rem;
  }

  div {
    text-align: left;
  }
}

// ------------ title.html ------------
.title span {
  font-weight: bold;
}

//  ------------ footer.html ------------
#site-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 2.5rem;
  background: #ececec;
  text-align: center;

  div.title {
    color: #cc0011;
  }
}

// ------------ table.html ------------
.code-font {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
}

.status-passed {
  color: #28a745;
  border: 1px solid #28a745;
  background-color: transparent;
  font-weight: 400;
}


.status-running {
  color: #007bff;
  border: 1px solid #007bff;
  background-color: transparent;
  font-weight: 400;
}

.status-failed {
  color: #dc3545;
  border: 1px solid #dc3545;
  background-color: transparent;
  font-weight: 400;
}

tr {
  cursor: pointer;
}

.avatar {
  border-radius: 50%!important;
  display: inline-block;
  overflow: hidden;
  line-height: 1;
  vertical-align: middle;
  text-align: center;
}

// ------------ general ------------
.octicon {
  vertical-align: middle;
}
