---
---

@import "{{ site.theme }}";
@import 'bootstrap/bootstrap';

// ------------ default.html ------------
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 350;
  line-height: 1.6;
  color: #606c71;
  @media (min-width: 38em) {
    font-size: 18px;
  }
}

.page-header {
  background-color: #cc0011;
  background-image: none;
  @media screen and (min-width: 64em) {
    padding: 2rem 4rem;
  }

  div {
    text-align: left;
  }
}

// ------------ title.html ------------
.title span {
  font-weight: bold;
}

//  ------------ footer.html ------------
#site-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 2.5rem;
  background: #ececec;
  text-align: center;

  div.title {
    color: #cc0011;
  }
}

// ------------ card.html ------------
.build-card {
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.03);
  border: 1px solid #C1C1C1;
  margin-bottom: 20px;
  padding: 10px 15px;
  box-sizing: border-box;
  border-radius: 4px;
  overflow: hidden;
}
