<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
  <meta charset="UTF-8">

{% seo %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  {% include octokit-script.html %}
  <body>
    <div id="page-container">
      <div id="content-wrap">
        <header class="page-header mb-3" role="banner">
          {% include title.html %}
        </header>

        <main id="content" class="container" role="main">
          {{ content }}
          {% include table.html %}
        </main>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
